.row p {
	font-size: 18px;            
    color: #1b1b1b;  
    font-family: 'Roboto', sans-serif;
    font-family: 'Rokkitt', serif;
   
}
.row{
	background-color: #ffffff;
	box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.3);
	padding:15px;
}
.row .part{
	box-shadow: none;
	padding: 0;
}
.row legend{
    border-bottom: 1px solid #167f92 !important;
    text-align: center;

}
.table{
	box-sizing: border-box;
	background-color: #FFF;
	border-radius: 10px;
	border: 1px solid #167F92;
	color: #024457;
	margin: 1em 0;
}
.table tr{
	border: 1px solid #D9E4E6;
}
.table tbody tr:nth-child(even) {
  background-color: #EAF3F3;
}
table thead th{
	background-color:  #167F92;	
    border: 1px solid #FFF;
    color: #FFF;
    padding: 1em;
    text-align: center;
    display: table-cell;
}
table tbody td {
	 display: block;
   word-wrap: break-word;
   border-right: 1px solid #D9E4E6;
   display: table-cell;
   text-align: center;
}
.table tbody td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}

